html {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex: column;
  margin-top: 0;
  margin-bottom: auto;
  position: fixed;
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
}

footer{
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  margin-top: auto;
}

button {
  padding: 5px;
  align-items: center;
  border: 3px solid black;
  border-radius: 30%;
}

.container {
  padding: 5px;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navItems {
  justify-content: space-around;
  padding: 5px;
}
